html,body{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

ul.nav a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.25s; 
}
    ul.nav a:hover{
        color:  #feb633;
        border-color: #feb633;
    }
    ul.nav a:focus{
        color:#feb633;
        border-color: #feb633;
    }
.navbar-dark .navbar-toggler-icon {
    /* background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e); */
    
    background-image:url(../img/menu-24px.svg) ;
    outline: none;
}
.navbar-dark .navbar-toggler {
    
     outline: none;

}

 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */

 
@media (min-width: 360px) {
    .aboutTitle{
        font-size: 45px;
        }
     .aboutSubtitle{
            font-size: 23px;
            
        }
        .sec_title{
            font-size: 23px;
        }
        .fontAdjust{
            font-size: 18px;
        }
        .card-title{
            font-size: 24px;
        }
        .card-text{
            font-size: 18px;
        }
}

@media (min-width: 768px) { 
    .aboutTitle{
        font-size: 55px;
        }
    .aboutSubtitle{
            font-size: 23px;
         }
         .sec_title{
            font-size: 30px;
        }
        .fontAdjust{
            font-size: 18px;
                    }
         .card-title{
                        font-size: 24px;
                    }
       .card-text{
                        font-size: 18px;
                    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .aboutTitle{
        font-size: 70px;
        }
     .aboutSubtitle{
            font-size: 23px;
        }
        .sec_title{
            font-size: 40px;
        }
        .fontAdjust{
            font-size: 22px;
                    }
        .card-text{
            font-size: 22px;
        }
                    .card-title{
                        font-size: 26px;
                    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .aboutTitle{
        font-size: 70px;
        }
     .aboutSubtitle{
            font-size: 23px;
            }

        .sec_title{
            font-size: 40px;
        }
        .fontAdjust{
            font-size: 22px;
                    }
                    .card-text{
                        font-size: 22px;
                    }
                    .card-title{
                        font-size: 26px;
                    }
 }

.form-control{
    border-width: 1px;
    outline: none;
    /* box-shadow: 1px 5px 0px lightgrey; */
    box-shadow: 0px 3px 4px 0px rgba(2, 11, 24, 0.06);
}
.form-control:focus{
    border-width: 1px;
    outline: none;
    /* box-shadow: 1px 5px 0px lightgrey; */
    box-shadow: 0px 16px 8px 0px rgba(3, 12, 29, 0.06);
}
.but:hover{
    outline: none;
    /* box-shadow: 1px 5px 0px lightgrey; */
    box-shadow: 0px 5px 5px 0px gray;
}
.btn-primary {
    color: #fff;
    background-color:#feb633;
    border-color: #feb633; 
}
.sec_title{
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: #32333c;
    padding-bottom: 5px;
    margin: auto;
    border-bottom: 2px solid #feb633;
}
.home-content {
      position: relative;
width: 100%;
padding-right: 5px;
padding-left: 5px;

    
    
}
.card-title {
    margin-bottom: .75rem;
  font-family:"Poppins", sans-serif;
  font-weight: 600;
}
.card-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
}
.fontAdjust{
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin-bottom: 30px;
    transition: all 0.3s;
}

